:root {
    --bg: #111;
    --fg: #eee;
    --muted: #999;
    --border: #444;
    --tile: #222;
    --icon-size: 4.75em;
}

::-webkit-scrollbar { width: .25em; height: .25em; }
::-webkit-scrollbar-track { background: transparent }
::-webkit-scrollbar-thumb { background: var(--border) }
::-webkit-scrollbar-thumb:hover { background: var(--muted) }
::-webkit-scrollbar-corner { background: transparent }

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    font-size: 1rem;
    line-height: 1.3;
    background: var(--bg);
    color: var(--fg);
}

header {
    padding: 1em;
}

header h1 {
    margin: 0;
    font-size: 1.25em;
}

header p {
    margin: .5em 0;
    color: var(--muted);
}

main {
    padding-inline: 2em;
}

.items {
    list-style: none;
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(20em, 1fr));
    gap: .75em;
}

.items li {
    display: flex;
    flex-direction: column;
    padding: .5em;
    gap: .25em;
    background: var(--tile);
    border: 1px solid var(--border);
    border-radius: .25em;
    filter: brightness(.9);
    transition: .2s;
}

.items li:hover {
    z-index: 1;
    filter: brightness(1);
}

.items li .row {
    display: flex;
    gap: .5em;
}

.items li .row:has(img),
.items li .row:has(.placeholder) {
    height: var(--icon-size);
}

.items li .row img,
.items li .row .placeholder {
    flex: 0 0 var(--icon-size);
    width: var(--icon-size);
    height: var(--icon-size);
}

.items li .row .info {
    display: flex;
    flex-direction: column;
    flex: 1;
    font-size: .9em;
    overflow: hidden;
}

.items li .row .info .name {
    white-space: nowrap;
}

.items li .row .info .description {
    color: var(--muted);
    font-size: .85em;
    overflow: auto;
}
