.vs/
.webview2/
bin/
obj/

desktop.ini
Thumbs.db

/.build-tmp/
/Archive/
/Builds/
/Icons/
/Profiles/*.json
/Sources/
/Testserver/
/Tools/IconExtractor/**/
/Tools/IconExtractor/*.zip
/WindrosePlus/

/repak.exe
