.tab-page[data-tab="cooldowns"] .pane {
  flex: 1;
  min-width: 0;
  align-self: start;
  max-width: 100em;
  margin-inline: auto;
  padding: 1em;

  display: block;
  columns: 2;
  column-gap: 1em;

  > .card {
    break-inside: avoid;
    margin: 0 0 1em;
  }
}
