.creator-field.creator-icon-actions {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: .5em;
}

.creator-icon-actions .btn-link[disabled] {
  opacity: .5;
  cursor: not-allowed;
}

.creator-icon-status {
  color: var(--text-dim);
}

.creator-checkbox {
  flex-direction: row;
  align-items: center;
  gap: .5em;
}

.creator-checkbox > span {
  color: var(--text);
  font-size: var(--font-size);
}
